body {
  background: red;
  color: $foreground-color;
  font-family: 'latoregular', arial, serif;
}

header {
  font-size: 1em;
  margin: 20px;
  color: $caption-color;
  text-align: center;
  background: $foreground-color;
  padding: 60px 30px 30px;
  background-size: 160px;
}

main {
  color: $foreground-color;
  text-align: center;
  padding: 10px;
}

.badges {
  img {
    display: inline;
  }
}

a {
  color: $link-color;
}

address {
  color: $accent-color;
}

.logo {
  margin: 0 auto;
  display: block;
}
